<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mason Brownrigg">
    <meta name="description" content = "Mason Brownrigg's professional website">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <script defer src="../static/script.js"></script>
    <title>Mason Brownrigg</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>
<body onload = "addYear()">
    <header>
        <h1 id="webname">Mason Brownrigg</h1>
        <nav id="myTopnav" class = "topnav">
            <a href="../index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class= "icon">
                <i class = "fa fa-bars" onclick = "activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Education</td><td>- Carnegie Mellon University <br>
                                    - Major: Information Systems <br>
                                    - Intended Minor: Software Engineering and Artificial Intelligence</td></tr>
            <tr><td>NSA Internship</td><td>- Created programming scripts using Open-Source software to traverse data <br>
            - Created cloud-based networks and internet accounts <br>
        - Experienced in processes that include operational and network support, <br>
        data transfer/flow, application administration, equipment management, and hardware support</td></tr>
            <tr><td>Source Digital Internship</td><td>- Provided sureys about commonly used apps <br>
            - Developed skills in User Experience design <br>
            - Created advertisements to be implemented in videos</td></tr>
            <tr><td>B&O Railroad Museum Internship</td><td>- Assisted the Education Department with the implementation of educational programming <br>
            - Ran educational activities as a camp counselor with several groups of young children <br>
        - Provided tours on technological advancements to families visiting the museum</td></tr>
            <tr><td>Product Management Academy</td><td>- Prep program for a career in Product Management <br>
            - Currently participate in mock interviews and networking with product managers</td></tr>
            
        </table>
        <a href="../static/college_resume_copy.pdf" target="_blank">My resume - pdf version</a>
    </div>
    <footer>
        <p id = "copyYear">Mason Brownrigg &copy</p>
    </footer>
    
</body>
</html>